# OS
.DS_Store/
.DS_Store
Thumbs.db

# IDE
.idea
.vscode/
.history/
*.iml
*.swp
*.swo

# Scala
target

# NodeJS
node_modules/
dist/
npm-debug.log
*.log
*.tgz
*.local

# Build
coverage/
*.tsbuildinfo
.size-snapshot.json
.rpt2_cache

# Rust
/target
Cargo.lock

# Python
.venv
