<?xml version="1.0" encoding="utf-8"?>
<!--
  DEPRECATED: These packages target .NET Framework 4.6.1 (EOL).
  Grpc.Core 1.22.0 is deprecated in favor of Grpc.Net.Client.
  See ProtobufSchemas.csproj for full deprecation notice.
-->
<packages>
  <package id="Google.Protobuf" version="3.20.1" targetFramework="net461" />
  <package id="Grpc" version="1.22.0" targetFramework="net461" />
  <package id="Grpc.Core" version="1.22.0" targetFramework="net461" />
  <package id="Grpc.Core.Api" version="1.22.0" targetFramework="net461" />
  <package id="Grpc.Tools" version="1.22.0" targetFramework="net461" developmentDependency="true" />
  <package id="System.Interactive.Async" version="3.2.0" targetFramework="net461" />
</packages>